*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    "Helvetica Now", Helvetica, Arial, sans-serif;
}

:root{
    --badge-sales: #ff0608;
    --header: #ff6900;
    --dark: #1a1a1a;
    --badge:#008000;
    --light: #ffdac0;
}

.container{
    width: 70%;
    max-width: 1152px;
    margin: auto;
}

.flex{
    display: flex;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
}

.badge{
    color: white;
    padding: 3px 5px;
    font-size: 12px;
}

.badge-like{
    position: absolute;
    right: 0;
    top: 20px;

    padding: 3px 8px;
    background-color: white;
    color: black;
    font-size: 30px;
}

/*Header*/

#app-header{
    background-color: var(--header);
    padding: 5px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.top-header{
    justify-content: space-between;
}

.personal, a,i{
    font-size: 12px;
    color: var(--light);
    line-height: 25px;
    margin: 0 3px;
}

.logo-boolean{
    height: 20px;
}

/*Main*/

#app-main{
    padding: 4rem 0;
}

.row{
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 33%;
    margin-bottom: 10px;

    position: relative;
}

.info-badge{
    position: absolute;
    top: 400px;
    left: 0;
}

.sales{
    background-color: var(--badge-sales);
}

.green{
    background-color: var(--badge);
}

.text-card{
    margin-bottom: 2rem;
}
.text-card span{
    font-size: 12px;
}

.price{
    color: red;
}

.line-price{
    text-decoration: line-through;
}

/*hover*/

.card-1:hover .change{
    visibility: collapse;
}

.card-1:hover{
    background: url(/img/1b.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.card-2:hover .change{
    visibility: collapse;
}

.card-2:hover{
    background: url(/img/2b.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.card-3:hover .change{
    visibility: collapse;
}

.card-3:hover{
    background: url(/img/4b.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.card-5:hover .change{
    visibility: collapse;
}

.card-5:hover{
    background: url(/img/5b.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.card-6:hover .change{
    visibility: collapse;
}

.card-6:hover{
    background: url(/img/6b.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.card:hover .badge-like{
    color: red;
}